body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0 auto;
}
*::-webkit-scrollbar{
  width: 8px;
  background-color: #ebebeb;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb{
  background-color: #b8b8b8;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

:root {
  --page-width: 1400px;
  --article-list-item-height: 12rem;
  --article-img-width: 12rem;
  --article-title-rows: 5;
  --banner-height: 40vw;
  --title-size: 1.6rem;
  --primary-color: #a10808;
  --success-color: #3AC295;
  --warning-color: #FA9841;
  --action-color: #5e7ce0;
  --article-page-width: 1200px;
}

@media (max-width: 500px) {
  :root {
    --article-img-width: 6rem;
    --article-title-rows: 3;
    --page-width: 100%;
    --article-list-item-height: 6rem;
    --banner-height: 40vw;
    --title-size: 1.2rem;
    --article-page-width: 100%;
  }
}